@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
*{
    padding: 0;
    margin: 0;
}
.body{
    display: flex;
    justify-content: center;
    align-items: center;
}
#board{
    background: linear-gradient(rgb(198, 65, 35), yellow);
    width: 98vh;
    height: 98vh;
    border: 8px solid rgb(67, 16, 7);
    display: grid;
    grid-template-rows: repeat(60, 1fr);
    grid-template-columns: repeat(60, 1fr);
box-shadow: 0 0 80px 60px rgba(249, 245, 8, 0.5), 0 0 200px 250px rgba(150, 15, 12, 0.5), 0 0 350px 300px rgba(244, 204, 3, 0.934);}
#scorebox{
    position: absolute;
    top: 30px;
    right: 120px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}


.head{
    background: linear-gradient(rgb(30, 9, 9) , rgb(204, 192, 255));
    border: .25vmin solid purple;
    transform: scale(1.02);
    border-radius: 80%;
}
.snake{
    background: linear-gradient(blue,white);
    border: .25vmin solid white;
    border-radius: 80%;
}
.food{
    background: linear-gradient(blue, white);
    border: .25vmin solid black;
    border-radius: 80%;
}
